<form class="d-inline-block" method="post" action="{{ path('timetable_delete', {'id': timetable.id}) }}" onsubmit="return confirm('Jesteś pewny, że chcesz usunąć ten grafik?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ timetable.id) }}">
    <button class="btn text-danger"><i class="fas fa-trash"></i></button>
</form>
