<div class="d-flex row mb-2 align-items-center">
    <div class="col-lg-2 col-md-3 col-sm-3 col-6">
        {{ form_widget(day) }}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-3">
        {{ form_widget(dayWorkHours) }}
    </div>
</div>