{% extends 'pageBase.html.twig' %}

{% block title %}Nowy Grafik{% endblock %}


{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dodaj nowy grafik</h1>

        {{ include('timetable/_form.html.twig') }}

    </div>
{% endblock %}