<form class="d-inline-block" method="post" action="{{ path('specialization_delete', {'id': specialization.id}) }}" onsubmit="return confirm('Chcesz usunąć specjalizację?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialization.id) }}">
    <button class="btn text-danger"><i class="fas fa-trash"></i></button>
</form>
