<form class="d-inline-block" method="post" action="" onsubmit="return confirm('Chcesz usunąć specjalizację?');">
    <input type="hidden" name="_token" value="">
    <button class="btn text-danger"><i class="fas fa-trash"></i></button>
</form>
