{{ form_start(form) }}

    <div class="mt-2">
        <label>Nazwa specjalizacji</label>
        {{ form_widget(form.name) }}
    </div>

    <button class="btn btn-primary mt-2">Zapisz</button>
{{ form_end(form) }}
