{% extends 'pageBase.html.twig' %}

{% block title %}Nowa specjalizacja{% endblock %}

{% block content %}

    <div class="container-fluid px-4">
        <h3 class="mt-4">Dodaj nową specjalizacje</h3>

        {{ include('specialization/_form.html.twig') }}

    </div>
{% endblock %}
